* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #f4f8ff; 
    color: #1a1a1a;
}

/* Cabeçalho com nome da pagina e icones */
header {
    width: 100%;
    background: #0a4fff; 
    color: #fff;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    margin-bottom: 25px;
}

header h1 {
    font-size: 28px;
    
}

.icones img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    cursor: pointer;
}

.icones img:hover {
    transform: scale(1.1);
}

/* Categoria  */
.categorias {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

.categorias h2 {
    font-size: 40px;
    margin-bottom: 25px;
    color: #0a4fff;
}

.categorias p {
    font-size: 20px;
    font-weight: 500;
    
}

.grid-categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

/* Cards de categoria */
.card {
    width: 18%;
    background: #fff;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.card img {
    width: 100%;
    max-height: 160px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.2vw;
    width: 100%;
    font-weight: 500;
    color: #0a4fff;
}



/* Produtos mais vendidos  */
.mais-vendidos {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

.mais-vendidos h2 {
    font-size: 30px;
    color: #0a4fff;
    margin-bottom: 25px;
}

/* Produtos */
.grid-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}


.card-produto {
    width:20%;
    padding: 25px;
    border-radius: 12px;
    background: #0a4fff;
    text-align: center;
    transition: 0.2s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.card-produto img {
    width: 80%;
    max-height: 230px;
    object-fit: contain;
    margin-bottom: 8px;
    border-radius: 10%;
}

.card-produto p {
    font-size: 1.2vw;
    font-weight: 500;
    color: #fff;
}


/* Página de Detalhes  */


.titulo {
    width: 90%;
    margin: 20px auto 40px auto;
    text-align: center;
}

.titulo h2 {
    font-size: 38px;
    color: #0a4fff;
    margin-bottom: 10px;
}

.titulo p {
    font-size: 20px;
    color: #333;
}




/* Bloco de Detalhes */

.bloco {
    width: 60%;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    gap: 35px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    flex-wrap: wrap; 
}


.bloco .imagem img {
    width: 260px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Informações */
.bloco .info {
    flex:1 ;
    min-width: 280px;
}

.bloco h3 {
    font-size: 30px;
    color: #0a4fff;
    margin-bottom: 15px;
}

.bloco p {
    font-size: 18px;
    margin-bottom: 20px;
}


.bloco h4 {
    font-size: 22px;
    color: #0a4fff;
    margin-bottom: 10px;
}



/* Rodapé */
footer {
    margin-top: 50px;
    background: #0a4fff;
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
}



